{% extends 'backend/layout.html' %}
{% load static %}

{% block menu %}
<div class="features">
    <a href=""><button class="btn">Description</button></a>
    <a href="{% url 'crud' %}"><button class="btn">CRUD</button></a>
</div>
{% endblock %}

{% block content %}
<div class="main_page" style="margin-top: -35px;">
    <h2>Общая информация о разделе &quot;Data&quot;</h2>
    <br>
    <p>Раздел <em>«Data»</em> содержат подразделы, которые позволяют через web-интерфейс приложения поддерживать
        следующий
        функционал:</p>
    <ol>
        <li>Совершать CRUD-операции (CReate/Update/Delete) по всем таблицам;</li>
        <li>После любого вида модификации таблиц пользователю выводиться измененная таблица;</li>
        <li>Поддерживается импорт и экспорт данных для каждой таблицы из файлов/в файлы с расширением <em>.csv</em></li>
    </ol>
    <br>
    <p>Интерфейс данного раздела разбит на две части:</p>
    <ol>
        <li>Левая сторона содержит список таблиц и CRUD-операций предназначена для выполнения;</li>
        <li>Правая сторона выводит необходимый результат/форму в соответсвии с выполненной операцией.</li>
    </ol>
</div>
{% endblock %}