{% extends 'backend/layout.html' %}
{% load static %}

{% block content %}
<div class="main_page">
    <h2>Уважаемый пользователь,</h2>
    <h2>Добро Пожаловать на проект Web Retail Analitycs</h2>
    <br>
    <p>В данном проекте разработано web-приложение на языке программирования Python (3.11) для проекта SQL3 Retail
        Analitycs,
        c использованием паттерна MVC и фреймворка Django (4.2). </p>
    <p>Приложение поддерживает осуществление CRUD-операций, импорт/экспорт таблиц, вычисление всех
        персональных предложений и их экспорт в файл разрешения .csv через web-интерфейс приложения.</p>
    <p>Дополнительно реализован функционал логирования действий пользователя и deploy web-приложения на nginx.</p>
    <p>Краткая навигация по web-приложению:</p>
    <ol>
        <li>На вкладе <b>&quot;Login/Logout&quot;</b> Необходимо проити авторизацию на проекте, не авторизированный
            пользователь не
            имеет доступа к остальным разделам проекта;</li>
        <li>На вкладе <b>&quot;About&quot;</b> Вы познакомитесь с разработчиком трудившегося над данным проектом;</li>
        <li>На вкладе <b>&quot;Data&quot;</b> у Вас будет возможность познакомиться с текущей базовой данных (БД), а
            также
            совершить CRUD - операции;</li>
        <li>На вкладе <b>&quot;Proposals&quot;</b> реализован функционал вычисления всех персональных предложений</li>
    </ol>

</div>
{% endblock %}