{% extends 'backend/layout.html' %}
{% load static %}

{% block menu %}
<div class="features">
    <a href=""><button class="btn">Description</button></a>
    <a href="{% url 'manual' %}"><button class="btn">Manual</button></a>
    <a href="{% url 'proposals' %}"><button class="btn">Proposals</button></a>
</div>
{% endblock %}

{% block content %}
<div class="main_page" style="margin-top: -35px;">
    <h2>Общая информация о разделе &quot;Proposals&quot;</h2>
    <br>

    <p>Раздел <b>&quot;Proposals&quot</b> содержат подразделы (<b>&quot;Manual&quot;</b> и
        <b>&quot;Proposals&quot;</b>), которые позволяют через web-интерфейс приложения поддерживать
        следующий
        функционал:
    </p>
    <ol>
        <li>Ознакомиться с общей информацией о каждой функции персональных предложений, с указанием описания входных и
            выходных данных;</li>
        <li>Вычисления всех функций персональных предложений и их экспорт в файл разрешения .csv;</li>
        <li>В случае необходимости введения параметров для выполнения функции, графический интерфейс
            предоставляет форму для ввода данных;</li>
        <li>Если введенные аргументы/SQL-запрос были некорректны, приложение выдавает ошибку о некорректности введенных
            данных и предлагать повторную попытку ввод;</li>
    </ol>
    <br>
    <p>Интерфейс данного раздела разбит на две части:</p>
    <ol>
        <li>Левая сторона предназначена для выполнения выбора необходимой функции;</li>
        <li>Правая сторона выводит результат в соответсвии с выполненной операцией.</li>
    </ol>
</div>
{% endblock %}